<!DOCTYPE html>
<html>
<head>
  <title>SuperbTextConstructor</title>
  <%= stylesheet_link_tag    "superb_text_constructor/application", media: "all" %>
  <%= javascript_include_tag "superb_text_constructor/application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="container">
    <h1>WYSIWYG</h1>
  </div>

  <%= yield %>

</body>
</html>
